
.App {
  background-color:darkcyan;
  padding: 30px;
  display: grid;
  height: 100vh;  /*по всей высоте экрана*/
  place-items: center;
  color: white;
}

.App > div {
  margin-right: 50px;
}
.error{
  border:  2px red solid;
}
.messageError{
  color: red;
}
.btn{
  background-color: yellow;
}
.is-done {
  opacity: 0.5;
}
button{
  margin: 3px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: lightcyan;
  cursor: pointer;
}


